@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Heebo:wght@500&family=Nunito:wght@600&family=Oswald:wght@300&family=Roboto+Condensed:wght@300;700&family=Shippori+Antique+B1&family=Yuji+Mai&display=swap');
body {
  margin: 0;
  font-family: 'Shippori Antique B1', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: 10px; */
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
